---
title: Jianming Chen
---
{% include showcase.html %}

<!--
{% include greeting.html %}

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>Recent Posts</h1>
  {% for post in site.posts limit: 3 %}
    {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
        &nbsp;<span class="badge"><smaller>FRESH</smaller></span>
      {% endcapture %}
    {% endif %}
    <ul class="homepage-posts {{ add_class }}">
      <li>
        <span>
          <h4>
            <a href="{{ site.baseurl }}/{{ post.url }}">
              {{ post.title }}
            </a>
            {{ fresh_tag }}
            <time class="pull-right">
              {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
            </time>
          </h4>
        </span>
      </li>
    </ul>
    {% assign add_class = '' %}
    {% assign fresh_tag = '' %}
  {% endfor %}
  <ul>
    <a href="{{ site.baseurl }}/projects.html">View More...</a>
  </ul>

  {% for category in site.categories %}
  <h2>{{ category | first }}</h2></span>{{ category | last | size }}</span>
  <ul class="arc-list">
      {% for post in category.last %}
          <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
  {% endfor %}

</div>
-->

{% endif %}
