---
title: Programs 
---

  <center><h1>Programs</h1></center>
  <center>Some of the programming skills I've dabbled on.</center>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  <div class="container">  <!--- 1 -->
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
            <!---<img src="http://lorempixel.com/g/85/85/">-->
            <img src="{{ site.baseurl }}/images/pdProgram/z1.jpg">
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fCPU'  %}   <!--fCPU-->
            <h1>CPU算法代码加速 ({{category | last | size}})</h1>
            主要包含TBB，SSE等
            <div class="post">
              <!---<h2>{{ category | first }}</h2>-->
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	      {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">  <!--- 2 -->
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="{{ site.baseurl }}/images/pdProgram/z2.jpg">
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fGPU'  %}   <!--fCPU-->
            <h1>GPU编程 ({{category | last | size}})</h1>
            主要包含CUDA编程
            <div class="post">
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	      {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
