---
title: Algorithms
---

  <!--<center><font color="blue" size="50px">Algorithms</font></center>          -->
  <center><h1>论文阅读</h1></center>
  <center>包括关注过的模块算法的相关论文阅读笔记</center>

  <center>---------------------------------------------------------------------------</center>

  <div class="container">  <!--- 1 -->
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
	  <!--<img src="{{ site.baseurl }}/images/pdDetect/pDetect.jpg">-->
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fDetect'  %}
            <h1>目标|人脸检测与对比/识别 ({{category | last | size}})</h1>
            <div class="post">
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="container">   <!--- 2 -->
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <!--<img src="{{ site.baseurl }}/images/pdAlign/pAlign.jpg">-->
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fAlign'  %}
            <h1>人脸对齐 ({{category | last | size}})</h1>
            <div class="post">
              <!---<h2>{{ category | first }}</h2>-->
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">  <!--- 3 -->  
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <!--<img src="{{ site.baseurl }}/images/pdSr/pSr.jpg">-->
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fSr'  %}
            <h1>人脸幻构/超分辨率重构 ({{category | last | size}})</h1>
            <div class="post">
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	      {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">  
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <!--<img src="{{ site.baseurl }}/images/pdAtt/pAtt.jpg">-->
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fGan'  %}
            <h1>生成对抗网络 ({{category | last | size}})</h1>
            <div class="post">
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="container">    <!--- 4 -->
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <!--<img src="{{ site.baseurl }}/images/pdAtt/pAtt.jpg">-->
        </div>
        <div class="col-md-9 project-post">
          {% for category in site.categories %}
            {% if category[0] == 'fTrick'  %}
            <h1>深度学习（未分类部分） ({{category | last | size}})</h1>
            <div class="post">
	          <ul class="arc-list">
	            {% for post in category.last %}
	            <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
	          </ul>
            {% endif %}
	  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
