<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}</title>
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{site.baseurl | prepend:site.url}}/js/jquery.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/header.js"></script>
  <script src="{{site.baseurl | prepend:site.url}}/js/toc.js"></script>
  <link href="{{site.baseurl | prepend:site.url}}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/theme.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/syntax.css" rel="stylesheet">
  <link href="{{site.baseurl | prepend:site.url}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  {% include google-analytics.html %}
  {% include yandex-metrica.html %}

 <script type="text/javascript">
  WebFontConfig = {
    google: {
      families: ['Ubuntu::latin']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.baseurl | prepend:site.url}}/">{{ site.name }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{site.baseurl | prepend:site.url}}/">/home</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/archive.html">/archive</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/tags.html">/tags</a></li>
          <li><a href="{{site.baseurl | prepend:site.url}}/about.html">/about</a></li>
        </ul>
      </div>
    </div>
  </nav>
