<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <!--<li><a href="{{ site.baseurl }}/list.html">List</a></li>-->
      <!--<li><a href="{{ site.baseurl }}/links.html">Links</a></li>-->
      <li><a href="{{ site.baseurl }}/projects.html">Algorithms</a></li>
      <li><a href="{{ site.baseurl }}/programs.html">Programs</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About Me</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>

    <div>
      <center><img src="{{ site.baseurl }}/images/me.jpg" height="195" width="180"></center>
    </div>
 
    <hr />
    <li><a href="{{ site.baseurl }}/projects.html">论文阅读</a></li>
    <li><a href="{{ site.baseurl }}/bprojects.html">基础算法</a></li>
    <li><a href="{{ site.baseurl }}/programs.html">开源码学习</a></li>
    <li><a href="{{ site.baseurl }}/about.html">关于</a></li>
    <hr />

    
    <div>
      <center><img src="{{ site.baseurl }}/images/weixin.jpg" height="130" width="130"></center>
    </div>
    <!--
    <div id="social-wrapper">
      <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
      <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> github</a> </li>
    </div>
    -->
  </ul>
</div>
