    
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4c11e553b97ff10bdf053e948bd4561c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          <!--{% for post in site.posts limit: 1 %}-->
          <!--<span class="badge lazy"><smaller>FRESHLY MINTED</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>-->
          <span class="badge lazy"><smaller>cjmcv</smaller></span><br> o(∩_∩)o <br>
	  <a href="{{ site.baseurl }}/about.html"><button type="button" class="btn btn-default showcase-button">Curriculum Vitae</button></a>
	  <!--
	  <a href="{{ site.baseurl }}/projects.html"><button type="button" class="btn btn-default showcase-button">Algorithms</button></a>
          <a href="{{ site.baseurl }}/programs.html"><button type="button" class="btn btn-default showcase-button">Programs</button></a>
          {% endfor %}-->
      </div>
    </div>
    <div class="container">
