{% include header.html %}

<div class="wrapper">
  <div class="content">
    <div class="container container-center">
      <div class="row">
        <div class="col-md-8">
          <div class="article">
            <div class="well">
              <h1><a href="{{ site.url | append:site.baseurl | append:page.url }}">{{ page.title }}</a></h1>
              <div class="post-meta">
                <div class="post-time">
                  <i class="fa fa-calendar"></i>
                  <time>{{ page.date | date_to_string }}</time>
                </div>
                <ul>
                  {% for tag in page.tags %}
                    <li><a href="{{ site.url | append:site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="post-content">
                <div id="toc" class="toc"></div>
                {{ content }}
                {% include share.html %}
              </div>
              {% if page.comments %}
              <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
    {% include disqus-comments.html %}
  </div>
  {% include footer.html %}
</div>
